<h1>Log in</h1>
<p>New to Grunge? <%= link_to "Sign up now!", signup_path %></p>
	   <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %><br>
      <%= f.email_field :email, :placeholder => 'Email address', class: 'form-control' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, :placeholder => 'Password', class: 'form-control' %><br>
<br>
      <%= f.submit "Log in", class: 'page-scroll btn btn-xl' %>
    <% end %>