<h1>Sign up for Grunge</h1>
<p>Share what you do with the world.</p>
<%= form_for @user do |f| %>

  <p><%= f.text_field :first_name, placeholder: 'First Name' %> <%= f.text_field :last_name, placeholder: 'Last Name' %></p>

  <%= f.email_field :email, placeholder: 'Email address' %><br>
  <%= f.text_field :username, placeholder: 'Create a Username' %><br>

  <%= f.password_field :password, placeholder: 'Create a password' %><br>
  <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %><br>

<p>
  <%= f.submit %>
</p>
<% end %>
