<h1>Start a New Livestream</h1>
<p>What activity are you about to stream?</p>

<%= form_for @stream do |f| %>
<input name="activity_id" value="<%= Activity.first.id  %>" type="hidden">
<%= f.text_field :title, placeholder: "Name this Stream" %><br>
<%= f.text_area :description, placeholder: "What will this stream be about?" %><br>

<p>
<%= f.submit 'GO LIVE' %>
</p>
<% end %>
