<h1>All Activities</h1>
<p>Find me in app/views/activities/index.html.erb</p>
<!-- Show index of 'games' as activities -->
<% @activities.each do |a| %>
    <%= link_to (image_tag a.image.url(:normal)), a %><br>
	<%= link_to "#{a.name}", a %><br>
<% end %>