<h1>Create Activity</h1>
<%= form_for(@activity) do |f| %>
  <%= f.text_field :name, placeholder: 'Name of Activity' %><br>
  <%= f.text_area :description, placeholder: 'Describe this activity ...' %><br>
  <%= f.file_field :image %><br>
  <%= f.submit 'Create Activity' %>
<% end %>