<ul>
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Start New Stream", streams_new_path %></li>
	<li><%= text_field_tag :search, nil, placeholder: 'Search Activities ...' %></li>
	<% if !logged_in? %>
	<li><%= link_to "Log In", login_path %></li>
	<% end %>
	<% if logged_in? %>
	<li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
	<li><%= link_to "Settings", "#" %></li>
	<li><%= link_to logout_path, method: :delete do %>
                 		        	<span class="fa fa-sign-out"></span> Log out
                 		        	<% end %>

	<% end %>
</ul>