<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>VideoHack</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grunge - Video Hack Day 2017</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%= render 'layouts/header' %>
   <div id="container" style="left: 0px;">
    <%= yield %>
    </div>
  </body>
</html>
